<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Système de Gestion des Déclarants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Système de Gestion des Déclarants</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/declarants}">Gestion des Déclarants</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Modifier le Déclarant </h1>
            <div class="card-body">
                <form th:action="@{/declarants/{id} (id=${declarant.id})}" th:object="${declarant}" method="POST">
                    <div class="form-group">
                        <label> Raison Sociale du Déclarant </label>
                        <input type="text" th:field="*{raisonSociale}" class="form-control" placeholder="Entrer la Raison Sociale du Déclarant"/>
                    </div>

                    <div class="form-group">
                        <label> Adresse du Déclarant </label>
                        <input type="text" th:field="*{adresse}" class="form-control" placeholder="Entrer l'Adresse du Déclarant"/>
                    </div>

                    <div class="form-group">
                        <label> Email du Déclarant </label>
                        <input type="text" th:field="*{email}" class="form-control" placeholder="Entrer l'Email du Déclarant"/>
                    </div>

                    <div class="form-group">
                        <label> Téléphone du Déclarant </label>
                        <input type="text" th:field="*{telephone}" class="form-control" placeholder="Entrer le Téléphone du Déclarant"/>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Soumettre
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
